:root {
  --bg: #1a1a1a;
  --pink: #e62779;
  --yellow: #ffc40c;
  --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

body {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  min-height: 4000px;
  /* overflow-x: hidden; */
  /* padding-right: 0 !important; */
}

.hero::before,
.home::before {
  content: '';
  background-size: cover;
  background-color: var(--bg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.hero::before {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(img/background.jpg);
  background-attachment: fixed;
  filter: contrast(55%);
}

.hero {
  position: relative;
  min-height: 100vh;
}

.hero h1, .hero h4, .hero p {
  text-shadow: var(--shadow);
}

.hero h1 {
  font-family: 'Parisienne', cursive;
  font-size: 6rem;
}

.hero h4 {
  font-size: 1.6rem;
}

.hero p {
  font-size: 1.4rem;
}

.hero a,
.info a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--yellow);
  background-color: white;
  box-shadow: var(--shadow);
}

.hero a:hover,
.info a:hover {
  color: white;
  background-color: var(--yellow);
}

.mynavbar {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.mynavbar .navbar-brand, 
.mynavbar .offcanvas-title {
  font-family: 'Parisienne', cursive;
  font-size: 2rem;
  font-weight: bold;
}

.mynavbar .nav-link {
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
}

.home::before {
  position: absolute;
  background-image: url(img/bg-floral.png);
  margin-top: -9.65rem;
  height: 120%;
  filter: opacity(15%);
}

.home {
  position: relative;
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.home h2,
.info h2 {
  color: var(--yellow);
  font-family: 'Parisienne', cursive;
  font-size: 5rem;
}

.home h3 {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.1rem;
  color: #666;
}

.home .couple {
  margin-top: 100px
}

.home .couple h3 {
  font-family: 'Parisienne', cursive;
  font-size: 3rem;
  color: var(--yellow);
}

.home .couple img {
  width: 100%;
}

.home .heart {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  border-radius: 50%;
  box-shadow: var(--shadow);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(65px);
}

.home .heart i {
  margin: auto;
  color: var(--pink);
}

.info {
  background-color: var(--bg);
  color: white;
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.info .alamat {
  font-size: 1.1rem;
}

.info .description {
  font-size: 1rem;
  font-weight: 300;
}

.info .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
  border: 1px solid #999;
}

.info .card-header {
  border: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.info .card-body {
  font-size: 1rem;
}

.info .card-footer {
  border: 1px solid #999;
  font-size: 0.9rem;
  font-weight: 300;
}

/* Media query */
/* extra large */
@media (max-width: 1200px) {
  .home .heart {
    transform: translateX(-50%) translateY(45px);
  }
}

/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown > .simply-section {
    padding: 70px;
  }
  .home .heart {
    display: none;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }
  .mynavbar .nav-link {
    font-size: 1.4rem;
    text-align: center;
  }
}

/* mobile phone */
@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
  .simply-countdown > .simply-section {
    padding: 30px;
    margin: 3px;
  }
}
