:root {
  --bg: #23272a;
  --pink: #e62779;
  --azure: #0080fe;
  --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

body {
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  min-height: 4000px;
}

.hero::before,
.home::before {
  content: "";
  background-size: cover;
  background-color: var(--bg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.hero::before {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(img/background.JPG);
  background-attachment: fixed;
  filter: blur(2px) brightness(0.8) contrast(90%);
}

.hero {
  position: relative;
  min-height: 100vh;
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}

.hero h1 {
  font-family: "Parisienne", cursive;
  font-size: 6rem;
}

.hero h4 {
  font-size: 1.6rem;
}

.hero p {
  font-size: 1.4rem;
}

.hero a,
.info a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--azure);
  background-color: white;
  box-shadow: var(--shadow);
}

.hero a:hover,
.info a:hover {
  color: white;
  background-color: var(--azure);
}

.mynavbar {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(10px);
}
.mynavbar .offcanvas-end {
  width: 270px !important;
  border: 0;
}
.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "Parisienne", cursive;
  font-size: 2rem;
  font-weight: bold;
  color: var(--azure);
}
.mynavbar .nav-link {
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
}

.home::before {
  position: absolute;
  background-image: url(img/bg-1.JPG);
  margin-top: -9.65rem;
  height: 120%;
  filter: opacity(15%);
}

.home {
  position: relative;
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.home h2,
.info h2,
.story h2,
.gallery h2,
.rsvp h2,
.gifts h2 {
  color: var(--azure);
  font-family: "Parisienne", cursive;
  font-size: 5rem;
}

.home h3 {
  color: var(--bg);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.home p {
  font-size: 1.1rem;
  font-weight: 500;
}
.home .couple {
  margin-top: 100px;
}
.home .couple h3 {
  font-family: "Parisienne", cursive;
  font-size: 3rem;
  color: var(--azure);
}
.home .couple img {
  width: 100%;
}
.home .heart {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  border-radius: 50%;
  box-shadow: var(--shadow);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(65px);
}
.home .heart i {
  margin: auto;
  color: var(--pink);
}

.info,
.story,
.gallery,
.rsvp,
.gifts {
  min-height: 100vh;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.profile-pic {
  border: 3px solid var(--pink);
  padding: 2px;
}

.info {
  background-color: var(--bg);
  color: white;
}
.info .alamat {
  font-size: 1.1rem;
}
.info .description {
  font-size: 1rem;
  font-weight: 300;
}
.info .card {
  background-color: #2c2f33 !important;
  color: white !important;
  border: 1px solid #999;
}
.info .card-header {
  border: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.info .card-body {
  font-size: 1rem;
}
.info .card-footer {
  border: 1px solid #999;
  font-size: 0.9rem;
  font-weight: 300;
}

.story {
  /* background-color: #f2f2f2; */
  background: linear-gradient(to bottom, #f8f8ff, #fff5ee);
}

.story span,
.gallery span,
.gifts span {
  text-transform: uppercase;
  color: #666;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.story p,
.gallery p,
.rsvp p,
.gifts p {
  font-size: 1rem;
  font-weight: 300;
}

.timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}
.timeline::before {
  content: "";
  top: 30px;
  bottom: 110px;
  position: absolute;
  width: 2px;
  background-color: #ccc;
  left: 50%;
}
.timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}
.timeline li::before,
.timeline li::after {
  content: "";
  display: table;
}
.timeline li::after {
  clear: both;
}
.timeline li .timeline-image {
  width: 160px;
  height: 160px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-size: cover;
}
.timeline li .timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid #ccc;
  padding: 2rem;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
}
.timeline li .timeline-panel::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  top: 80px;
  right: -15px;
}
.timeline li .timeline-panel::after {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  top: 81px;
  right: -13px;
}
.timeline li.timeline-inverted .timeline-panel {
  float: right;
}
.timeline li.timeline-inverted .timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline li.timeline-inverted .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}

.gallery {
  background: linear-gradient(to top, #23272a, #fff5ee);
}

.rsvp {
  background-color: var(--bg);
}
.rsvp p {
  color: white;
}
.rsvp form label {
  color: white;
}
.rsvp button {
  background-color: var(--azure);
  color: white;
  border: 1px solid var(--azure);
}
.rsvp button:hover {
  background-color: white;
  color: var(--azure);
  border: 1px solid white;
}

.gifts {
  position: relative;
  z-index: 1;
}

.gifts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/bg-2.JPG);
  filter: opacity(30%);
  z-index: -1;
  background-size: cover;
  background-position: center;
}

footer {
  padding: 3px;
  background-color: var(--azure);
  color: white;
}
footer a {
  color: var(--bg);
  font-weight: bold;
  text-decoration: none;
}
footer a:hover {
  color: white;
}

footer li {
  list-style: none;
  display: inline;
  margin: 0.5rem;
}

.audio-icon-wrapper {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  color: white;
  opacity: 0.5;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  line-height: 0;
  justify-content: center;
  align-items: center;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media query */
/* extra large */
@media (max-width: 1200px) {
  .home .heart {
    transform: translateX(-50%) translateY(45px);
  }
}

/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown > .simply-section {
    padding: 70px;
  }
  .home .heart {
    display: none;
  }
  .mynavbar {
    backdrop-filter: none;
    background-color: rgba(255, 255, 255, 0.6) !important;
  }
  .timeline::before {
    left: 60px;
  }
  .timeline li .timeline-image {
    left: 15px;
    margin-left: 45px;
    top: 16px;
  }
  .timeline li .timeline-panel {
    width: calc(100% - 200px);
    float: right;
  }
  .timeline li .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  .timeline li .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }
  .mynavbar .nav-link {
    font-size: 1.4rem;
    text-align: center;
  }
  .timeline li .timeline-image {
    width: 140px;
    height: 140px;
  }
}

/* mobile phone */
@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
  .simply-countdown > .simply-section {
    padding: 30px;
    margin: 3px;
  }
  .mynavbar .navbar-brand {
    margin-left: auto;
    margin-right: auto;
  }
  .offcanvas-backdrop.show {
    opacity: 0.8;
    background-color: rgb(133, 133, 133);
  }
  .timeline li .timeline-image {
    width: 80px;
    height: 80px;
  }
  .timeline li .timeline-panel {
    width: 65%;
    transform: translateX(-18px);
  }
  .timeline li .timeline-panel::before {
    top: 30px;
  }
  .timeline li .timeline-panel::after {
    top: 31px;
  }
  .glightbox-container .gslide img {
    max-height: 100vh;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}
